.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:settings, :index)
      %li=link_to pat(:new), url(:settings, :new)
      %li.active=link_to pat(:edit), url(:settings, :edit, :id => @setting.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:setting)
    .inner
      -form_for :setting, url(:settings, :update, :id => @setting.id), :method => :put, :class => :form do |f|
        =partial "settings/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")